[user]
	name = Ben Guthrie
	email = benjee.012@gmail.com
[pull]
	rebase = true
[rebase]
	autoStash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/repos/work/"]
	path = ~/.config/git/work_config
[includeIf "gitdir:~/repos/personal/"]
	path = ~/.config/git/personal_config
[init]
	defaultBranch = main
[alias]
	share = !npx git-share share
	take = !npx git-share take
	yolo = !git commit --no-verify
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
