[user]
	name = Ben Guthrie
[pull]
	rebase = true
[rebase]
	autoStash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/repos/work/"]
	path = ~/.config/git/work_config
[includeIf "gitdir:~/repos/personal/"]
	path = ~/.config/git/personal_config
[includeIf "gitdir:~/"]
	path = ~/.config/git/personal_config
[init]
	defaultBranch = main
